@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-slate-100 bg-slate-900 font-AppleSDGothicNeoL;
}

@font-face {
  font-family: "AppleSDGothicNeoT";
  src: url("/fonts/AppleSDGothicNeoT.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoUL";
  src: url("/fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url("/fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("/fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("/fonts/AppleSDGothicNeoR.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoSB";
  src: url("/fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("/fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoEB";
  src: url("/fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url("/fonts/AppleSDGothicNeoH.ttf");
}

.mask-container {
  -webkit-mask-image: linear-gradient(180deg, transparent 0, transparent 20px, #000 60px, transparent),
    linear-gradient(0deg, transparent 0, transparent 20px, #000 60px, transparent);
  mask-image: linear-gradient(180deg, transparent 0, transparent 20px, #000 60px, transparent),
    linear-gradient(0deg, transparent 0, transparent 20px, #000 60px, transparent);
}

::-webkit-scrollbar {
  background-color: #ffffff10;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff10;
}

.swiper.main-swiper .swiper-wrapper {
  align-items: center;
}

.swiper.main-swiper .swiper-slide {
  filter: grayscale(100);
  transition: all;
}
.swiper.main-swiper .swiper-slide-prev,
.swiper.main-swiper .swiper-slide-next {
  filter: grayscale(0.8);
}
.swiper.main-swiper .swiper-slide-active {
  filter: grayscale(0);
}

@media screen and (min-width: 768px) {
  .swiper.main-swiper {
    -webkit-mask-image: linear-gradient(90deg, transparent 0, transparent 20px, #000 60px, transparent),
      linear-gradient(-90deg, transparent 0, transparent 20px, #000 60px, transparent);
    mask-image: linear-gradient(90deg, transparent 0, transparent 20px, #000 60px, transparent),
      linear-gradient(-90deg, transparent 0, transparent 20px, #000 60px, transparent);

    padding: 0 40px !important;
  }

  .swiper.main-swiper .swiper-slide {
    width: 360px !important;
    height: 360px !important;
  }
  .swiper.main-swiper .swiper-slide-prev,
  .swiper.main-swiper .swiper-slide-next {
    width: 380px !important;
    height: 380px !important;
  }
  .swiper.main-swiper .swiper-slide-active {
    width: 400px !important;
    height: 400px !important;
  }
}
